extends _layout/layout.pug
block main	
	section.home_slider 
		.container       
			.row
				.col
					h1 
						| Hi there! We are the new kids on the block
						br
						| and we build awesome websites and mobile app.
					p
						a.btn.btn_more(href="#") Work with us!
	section.home_services 
		.container 
			.row
				.col
					h2 Services we provide  
					p.services_introduction
						| We are working with both individuals and businesses from all the globe
						br
						| to create awesome websites and applications.
			- var services_array = ['Branding','Design','Development','Rocket Science']
			- var services_index = 0
			- var x = 1
			.row
				while services_index < 4 && x <= 4
					.col-md-3
						img(src="./img/home_icon_"+ x++ +".png", alt="")
						h3= services_array[services_index++]
						p.services_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, quaerat quas iste dolores, quo placeat. 
	section.home_team
		.container 
			.row
				.col
					h2 Meet our beautiful team 
					p.team_introduction
						| We have a small team of designers and developers, who help branding with big ideas
			- var team_names = ['Anne Hathaway','Kate Upton','Dakota Fanning','Emma Watson']
			- var team_jobs = ['CEO / Founder','Design Leader','Marketing Director','Web Development Leader']
			.row
				- var i = 0
				while i < 4
					div(class="col-md-3", style="margin-bottom: 40px;")
						img(src="./img/home_team_avatar_1.png", alt="")
						h3= team_names[i]
						h4= team_jobs[i]
						- i = i + 1
						p.team_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, quaerat quas iste dolores, quo placeat.
						ul
							li
								a(href="#")
									i.fa.fa-facebook.icon-contact
							li
								a(href="#")
									i.fa.fa-twitter.icon-contact
							li
								a(href="#")
									i.fa.fa-linkedin.icon-contact
							li
								a(href="#")
									i.fa.fa-envelope.icon-contact
	section.home_skills
		.container 
			.row
				.col
					h2 We got skills 
					p.skills_introduction 
					| Lorem ipsum dolor sit amet consectetur adipisicing elit.
					br
					| Dignissimos ducimus officiis omnis labore inventore.
			- var percent_numbers = [90,75,70,85]
			- var percent_title = ['Web design','HTML / CSS','Graphic design','UI / UX']
			- var percent_index = 0
			.row
				while percent_index < 4
					.col-md-3
						div(class="circular-progress-"+percent_numbers[percent_index])
						h3= percent_title[percent_index++]
	section.home_portfolio
		.container       
			.row
				.col
					h2 Our portfolio
					p.portfolio_introduction  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et accusamus debitis labore possimus tempora eos, at neque temporibus modi nostrum asperiores, aspernatur quisquam dolore fuga mollitia eaque architecto tempore aliquam.
			.row
				.col
					.btn-portfolio-container
						ul
							li
								a(href="#").btn ALL
							li
								a(href="#").btn WEBS
							li
								a(href="#").btn APPS
							li
								a(href="#").btn ICONS
			- var thumb_index = 1
			- var thumb_array = ['ISOMETRIC PERSPECTIVE MOCK-UP','TIMEZONE APP UI','VIRO VIDEO PLAYER UI','BLOG / MAGAZINE FLAT UI KIT']
			.row
				while thumb_index <= 4
					.col-md-6
						img(src="./img/home_work_thumbnail_"+ thumb_index++ +".png", alt="").img-fluid
						h3= thumb_array[thumb_index]
			.row
				.col
					.p
						a(href="#").btn_load.btn LOAD MORE PROJECT
	section.home_comment
		.container       
			.row
				.col
					h2 What people say about us
					p.comment_introduction  Our client love us!
			- var ppl_name = ['Bao Nguyen Yam','Chanel Iman','Bill Gates','Tim Cook']
			- var ppl_job = ['Founder of Fullstack Vietnam','CEO of Pinterest','Founder of Microsoft','CEO of Apple']
			- var ppl_index = 0
			.row
				while ppl_index <  4
					.col-lg-6
						.row
							.col-md-3
								img(src="./img/home_team_avatar_1.png", alt="").comment_avatar.img-fluid
							.col-md-9
								.comment_content
									p
										i.quote "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nisi assumenda aut voluptatum possimus aspernatur libero autem repudiandae, delectus ipsum perferendis architecto."
										h5.name= ppl_name[ppl_index]
										h5.job= ppl_job[ppl_index]
										- ppl_index = ppl_index + 1
	section.home_contact
		.container       
			.row.comment_container
				.col
					h2 Get in touch
					p.contact_introduction  29 Cemetery St. Lady Lake, FL 32159, United States of America. Tel: (799) 643-0477
			.row.form-container
				form
					.form-row
						.col-md-6
							input.input-text.form-control(type='text' placeholder='Your name')
						.col-md-6
							input.input-text.form-control(type='text' placeholder='Your email')
					.form-row
						.col-sm-12
							textarea.input-textarea.form-control(row='8'
							placeholder='Your message')
					.form-row
						.col
							button(type="submit").btn.btn-submit Send message
					
					
